body{
    background-color: rgb(246, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.images{
    width:75%;
    border-radius: 10px;
}
.animals{
    background-color: rgb(255, 241, 222);
    display: flexbox;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
    border-radius: 10px;
}
h1{
    display: flex;
    justify-content: center;
    gap: 20px;
}

