body{
    background-color: rgb(42, 42, 42);
}
.animals{
    background-color: rgb(163, 157, 149);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}